vivado_project/*
metacircuit/*

**/.Xil/
**/.cache/
**/.gen/
**/.runs/
**/.ip_user_files/
**/*.jou
**/*.log
**/*.str
**/*.tmp
**/tmp/

/src/ip/**
!/src/ip/**/
!/src/ip/**/*.xci

/src/ip_new/**
!/src/ip_new/**/
!/src/ip_new/**/*.xci